<div class="anime-selector" cdkDropListGroup>
    <div
        cdkDropList
        [cdkDropListData]="wontWatchItems"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
        class="wont-watch-items"
    >
    </div>
    <div
        cdkDropList
        [cdkDropListData]="unsortedItems"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
        class="unsorted-items"
    >
        @for (item of unsortedItems; track item) {
            <mat-card cdkDrag class="example-card" appearance="outlined">
                <mat-card-header>
                <mat-card-title class="anime-card-title" >
                    <a href="https://myanimelist.net/anime/{{ item.id }}" target="_blank">{{ item.title }}</a>
                </mat-card-title>
                </mat-card-header>
                <img
                    mat-card-image
                    ngSrc="{{ item.main_picture.medium }}"
                    alt="Image of {{ item.title }}"
                    fill
                    class="mobile-image"
                >
                <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            </mat-card>
        }
    </div>
    <div
        cdkDropList
        [cdkDropListData]="willWatchItems"
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
        class="will-watch-items"
    >
    </div>
    
</div>
