.example-card {
    width: 175px;
    margin: 10px;
    .anime-card-title {
        font-size: small;
    }
}

.anime-selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.unsorted-items, .wont-watch-items, .will-watch-items{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // overflow-y:hidden;
    overflow-x: auto;
    width: 100%;
    // max-height: 260px;
    min-height: 220px;
}


mat-card{
    height: 223px;
}

mat-card-header {
    height: 60px;
}

h2 {
    margin-left: 5px;
    color: azure;
}

a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}