<mat-grid-list cdkDropListGroup cols="2" rowHeight="100px">
    <mat-grid-tile
        cdkDropList
        [cdkDropListData]="unsortedItems"
        colspan="2"
        rowspan="3"
        (cdkDropListDropped)="drop($event)"
    >
    @for (item of unsortedItems; track item) {
        <div cdkDrag>{{item}}</div>
    }
    </mat-grid-tile>
    <mat-grid-tile
        cdkDropList
        [cdkDropListData]="willWatchItems"
        colspan="1"
        rowspan="3"
        (cdkDropListDropped)="drop($event)"
    >
    @for (item of willWatchItems; track item) {
        <div cdkDrag>{{item}}</div>
    }
    </mat-grid-tile>
    <mat-grid-tile
        cdkDropList
        [cdkDropListData]="wontWatchItems"
        colspan="1"
        rowspan="3"
        (cdkDropListDropped)="drop($event)"
    >
    @for (item of wontWatchItems; track item) {
        <div cdkDrag>{{item}}</div>
    }
    </mat-grid-tile>
</mat-grid-list>
